# dependencies
node_modules/

# environment variables
.env
.env*.local

# build files
build/
dist/
web-build/

# Expo
.expo/
expo-env.d.ts

# Native
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
